//*************
//FONT FAMILIES
//*************

@import url('https://fonts.googleapis.com/css?family=Metamorphous');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$headerFont: 'Metamorphous', cursive;
$bodyFont: 'Open Sans', sans-serif;

//********************
//BODY AND FONT COLORS
//********************

$white: #F7F8FA;
$primary: #323776;
$secondary: #000003;
$btnOne: #B22222;
$btnTwo: #2E8B57;
$btnThree: #00BFFF;
$btnFour: #FFD700;
$btnFont: #000;
$enterBtnColor: 696969;



//*************
//STYLING BELOW
//*************


body{
	background-color: $white;
}

#main-header{
	font-family: $headerFont;
	font-size: 3em;
		#main-footer{
			font-family: $bodyFont;
			background-color: $primary;
			color: $white;
	}
}

#wrapper{
	display: inline-flex;
	margin: 0;
	padding: 0;
	flex-flow: row;
}

.btn{
	padding: 1em;
	margin: 1em;
	font-family: $bodyFont;
	font-weight: 900;
	border: 1px solid dodgerblue;
	box-shadow: 3px 3px 2px grey;
}

#btn-1{
	background-color: $btnOne;
	color: $btnFont;
}

#btn-2{
	background-color: $btnTwo;
	color: $btnFont;
}

#btn-3{
	background-color: $btnThree;
	color: $btnFont;
}

#btn-4{
	background-color: $btnFour;
	color: $btnFont;
}

#enter-btn{
	background-color: #C0C0C0;
	color: $enterBtnColor;
	width: 80%;
}






